.container {
  max-width: 1024px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
}

.my-photo {
  width: 100px;
  height: 130px;
  border-radius: 50px;
  border: 3px solid rgba(138, 134, 134, 0.575);
}